<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Vue.js   -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->

    <!-- Charts.js   -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <div>
            <h3>Выбор института</h3>
            <ul class="list-group">
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Аспирантура</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт вечернего и заочного образования</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт довузовской подготовки</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт дополнительного образования</li>
<!--                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт инновационных технологий и государственного управления</li>-->
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт информационных технологий</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт кибернетики</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт комплексной безопасности и специального приборостроения</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт международного образования</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт радиотехнических и телекоммуникационных систем</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт технологий управления</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт тонких химических технологий имени М.В. Ломоносова</li>
<!--                <li @click="checkInstitute" class="list-group-item list-group-item-action">Институт экономики и права</li>-->
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Колледж приборостроения и информационных технологий</li>
<!--                <li @click="checkInstitute" class="list-group-item list-group-item-action">Технопарк РТУ МИРЭА</li>-->
                <li @click="checkInstitute" class="list-group-item list-group-item-action">Физико-технологический институт</li>
                <li @click="checkInstitute" class="list-group-item list-group-item-action">филиал федерального государственного бюджетного образовательного учреждения высшего образования «МИРЭА – Российский технологический университет» в г. Фрязино Московской области</li>
            </ul>
        </div>
        <hr/>
        
        <div>
            <question-chart
                v-for="(question, ind) in questions"
                :key="ind"
                :question="question"
                :ind="ind" >
            </question-chart>
        </div>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>